.language-selector {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .selected-language {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;

    img {
      width: 30px;
      height: 20px;
      margin-right: 10px;
    }

    .dropdown-icon {
      margin-left: 10px;
    }
  }

  .language-options {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;

    div {
      padding: 10px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #e0e0e0;
      }

      img {
        width: 30px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }

  &:hover .language-options {
    display: block;
  }
}
